.myGigs {
  display: flex;
  justify-content: center;
  color: #555;

  .container {
    width: 1400px;
    padding: 50px 0px;
    background-color: #b2ebf2; // Light Cyan

    .title {
      display: flex;
      justify-content: space-between;

      button {
        background-color: #00bcd4; // Cyan
        color: white;
        font-weight: 500;
        border: none;
        padding: 10px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #0097a7; // Darker Cyan
        }
      }
    }

    table {
      width: 100%;

      tr {
        height: 50px;
        th {
          text-align: left;
        }
        td {

          sup{
            font-size: 12px;
          }
          
          .image {
            width: 50px;
            height: 25px;
            object-fit: cover;
          }

          .delete {
            width: 20px;
            cursor: pointer;
            color: #00bcd4; // Cyan
          }

        }
        &:nth-child(even) {
          background-color: #b2ebf230; // Light Cyan with opacity
        }
      }
    }
  }
}
