.gig {
  display: flex;
  justify-content: center;

  .container {
    width: 1400px;
    padding: 30px 0px;
    display: flex;
    gap: 50px;

    .left {
      flex: 2;
      display: flex;
      flex-direction: column;
      gap: 20px;

      .breadcrumbs {
        font-weight: 300;
        text-transform: uppercase;
        font-size: 13px;
        color: #00CED1; // Dark Turquoise
      }

      .user {
        display: flex;
        align-items: center;
        gap: 10px;

        .stars {
          span {
            color: #20B2AA; // Light Sea Green (a greenish cyan)
          }
        }
      }

      .slider {
        background-color: #E0FFFF; // Light Cyan
      }

      p {
        color: #008B8B; // Dark Cyan
      }

      .seller {
        .user {
          .info {
            .stars {
              span {
                color: #20B2AA; // Light Sea Green (a greenish cyan)
              }
            }

            button {
              border: 1px solid #00CED1; // Dark Turquoise
              color: #008B8B; // Dark Cyan
            }
          }
        }

        .box {
          border: 1px solid #B0E0E6; // Powder Blue (a light cyan)
        }
      }
    }

    .right {
      border: 1px solid #B0E0E6; // Powder Blue (a light cyan)

      p {
        color: #008B8B; // Dark Cyan
      }

      .features {
        .item {
          color: #20B2AA; // Light Sea Green (a greenish cyan)
        }
      }

      button {
        background-color: seagreen; // Dark Turquoise
      }
    }
  }
}
